# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Excel & Office temporary lock files
~$*.xlsx
~$*.docx
~$*.pptx

# Operating System Files
desktop.ini
Thumbs.db
.DS_Store

# Temporary scratch logs
*.log
